:root{
  --primary-color: #F39921;
  --secundary-color: #46545F;
  --white: #ffffff;
  --black: #1c1c1c;
  --font: 'Red Hat Display', sans-serif;
}

*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  color: white;
  font-family: var(--font);
}

header{
  background: no-repeat center/cover url(../image/camion.jpg);
}

header::before{
  content: " ";
  background-color: var(--secundary-color);
  opacity: .5;
  height: 100vh;
  width: 100%;
  position: absolute;
}

section{
  z-index: 7;
  position: relative;
}

section h1{
  background-color: var(--secundary-color);
  font-size: 10em;
}

.nav-link{
  color: var(--black) !important;
  margin-bottom: 1px !important;
}

.nav-link:hover{
  border-bottom: 5px solid var(--primary-color);
}

.orange{
  background-color: var(--primary-color);
}
.white{
  background-color: var(--white);
}

.blue{
  color:var(--secundary-color);
}
.letter-spacing{
  letter-spacing: 1px;
}

button{
  border: none;
}

.mecanica, .sub, .suelo, .pruebas{
  background: no-repeat center/cover url(../image/camion.jpg);
  display: flex;
  align-items: center;
  justify-content: center;
  height: 150px !important;
}

@media (max-width: 770px){
  .d-flex{
    flex-direction: column;
    text-align: center;
  }
}