:root{
  --primary-color: #F39921;
  --secundary-color: #46545F;
  --white: #ffffff;
  --black: #1c1c1c;
  --font: 'Red Hat Display', sans-serif;
}

*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  color: white;
  font-family: var(--font);
}

header{
  background:linear-gradient(0deg, rgba(70, 84, 95, 0.5), rgba(70, 84, 95, 0.5)), url(/image/camion.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

/* #nosotros{
  background:linear-gradient(0deg, rgba(70, 84, 95, 0.5), rgba(70, 84, 95, 0.5)), url(/image/Imagen1.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
} */

section h1{
  background-color: var(--secundary-color);
  font-size: 10em;
}

.nav-link{
  color: var(--black) !important;
}

.nav-link .active:hover{
  border-bottom: 5px solid var(--primary-color);
}

.orange{
  background-color: var(--primary-color);
}

.orange-text{
  color: var(--primary-color);
}

.white{
  background-color: var(--white);
}

.white-text{
  color: var(--white);
}

.blue{
  color:var(--secundary-color);
}

.blue-bg{
  background-color: var(--secundary-color);
}

svg{
  fill: var(--primary-color);
}

.letter-spacing{
  letter-spacing: 1px;
}

button{
  border: none;
}

.button:hover{
  color: var(--white);
}

.mision-vision{
  background: linear-gradient(0deg, rgba(70, 84, 95, 0.7), rgba(70, 84, 95, 0.7)), url("/image/image3.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

.profesionistas{
  background: linear-gradient(0deg, rgba(70, 84, 95, 0.7), rgba(70, 84, 95, 0.7)), url("/image/ingeniero.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.mecanica, .sub, .suelo, .pruebas{
  background: linear-gradient(0deg, rgba(70, 84, 95, 0.5), rgba(70, 84, 95, 0.5)), url("/image/camion.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 150px !important;
}

.active-servicios{
  text-decoration: underline;
}

@media (max-width: 770px){
  .d-flex{
    flex-direction: column;
    text-align: center;
  }
}